## Librerias

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from pathlib import Path #Solucion para encontrar la ruta del archivo sin importar el sistema operativo

## Carpeta de imagenes

In [10]:
IMAGES_PATH = "Galeria"  # Nombre de la carpeta
os.makedirs(IMAGES_PATH, exist_ok=True) # Crea la carpeta si no existe

def save_fig(fig_id, tight_layout=True, fig_extension="pdf", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Imagen guardada como ", fig_id, "en la carpeta", IMAGES_PATH) #Mensaje mas informativo
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

## Carga de los datos

In [9]:
BASE_DIR = Path().resolve()

while not (BASE_DIR / "datos").exists():
    BASE_DIR = BASE_DIR.parent

alabama_banks = pd.read_csv(BASE_DIR / "datos" / "alabama_banks.csv")
arkansas_banks = pd.read_csv(BASE_DIR / "datos" / "arkansas_banks.csv")
california_banks = pd.read_csv(BASE_DIR / "datos" / "california_banks.csv")
florida_banks = pd.read_csv(BASE_DIR / "datos" / "florida_banks.csv")
georgia_banks = pd.read_csv(BASE_DIR / "datos" / "georgia_banks.csv")
mississippi_banks = pd.read_csv(BASE_DIR / "datos" / "mississippi_banks.csv")
new_york_banks = pd.read_csv(BASE_DIR / "datos" / "new_york_banks.csv")
north_carolina_banks = pd.read_csv(BASE_DIR / "datos" / "north_carolina_banks.csv")
south_carolina_banks = pd.read_csv(BASE_DIR / "datos" / "south_carolina_banks.csv")
texas_banks = pd.read_csv(BASE_DIR / "datos" / "texas_banks.csv")

## Exploraicon de datos

#### Columnas y longitud

In [18]:
len(alabama_banks), len(arkansas_banks), len(california_banks), len(florida_banks), len(georgia_banks), len(mississippi_banks), len(new_york_banks), len(north_carolina_banks), len(south_carolina_banks), len(texas_banks)

(1494, 1372, 6835, 4913, 2306, 1178, 4845, 2285, 1228, 6551)

No en todos los dataframes son iguales, algunos contienen mas ubicaciones de bancos que otros.

In [19]:
lista = [alabama_banks, arkansas_banks, california_banks, florida_banks, georgia_banks, mississippi_banks, new_york_banks, north_carolina_banks, south_carolina_banks, texas_banks]
for df in lista:
    print(f"Las columnas son: {df.columns.tolist()}")

Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
Las columnas son: ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']

Todos los conjunto de datos tienen las mismas columnas

#### Valores nulos

In [25]:
for df in lista:
    print(f"Los valores nulos de {df.columns.tolist()} son: {df.isnull().sum()}")

Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64
Los valores nulos de ['bank', 'branch', 'service', 'street', 'city', 'state', 'zip', 'latitude', 'longitude'] son: bank         0
branch       0
service      0
street       0
city         0
state        0
zip          0
latitude     0
longitude    0
dtype: int64

No hay valores nulos

#### Descripci√≥n de las variables

In [29]:
alabama_banks.head() #Eleji alabama pero se puede elegir calquier dataframe dado que tienen las mismas columnas

,bank,branch,service,street,city,state,zip,latitude,longitude
0,Regions Bank,2381 Taylor Rd Montgomery,Full Service Brick and Mortar Office,2381 Taylor Road,Montgomery,AL,36117,32.345208,-86.177885
1,Regions Bank,84 West Dothan,Full Service Brick and Mortar Office,4080 W. Main Street,Dothan,AL,36305,31.234669,-85.453242
2,Regions Bank,891 Hillcrest Rd Mobile,Full Service Brick and Mortar Office,891 Hillcrest Road,Mobile,AL,36695,30.672450,-88.189988
3,Regions Bank,Adams Ave,Full Service Brick and Mortar Office,901 Adams Avenue,Montgomery,AL,36104,32.375565,-86.296194
4,Regions Bank,Airport Mobile,Full Service Brick and Mortar Office,825 Schillinger Road S.,Mobile,AL,36695,30.673374,-88.225449

En la columna "bank" es el nombre de la cadena de bancos, en la columna "branch" es la oficina, "service" es el servicio, "street" es la direccion(numero y calle), "city" es la siudad, "state" el estado, "zip" es el codiog postal, "latitud y longitud" corresponden a las coordenadas de la sucursal